//
// Container
//

.elephpant {
  text-align: center;
  margin: 1.5rem 0;
}

//
// Icon
//

.elephpant-icon {
  display: inline-block;
  box-shadow: 0 0 .3rem $gray-400;
  border-radius: 50%;
  margin: 0 0 .5rem;

  &:last-child {
    margin-bottom: 0;
  }

  > svg {
    fill: $white;
    width: 100%;
    height: 100%;
  }

  &.elephpant-regular {
    height: 4rem;
    width: 4rem;
    padding: 1rem .9rem 1rem 1.1rem;
  }

  &.elephpant-large {
    height: 6rem;
    width: 6rem;
    padding: 1.5rem 1.35rem 1.5rem 1.65rem;
  }

  &.elephpant-black {
    background-color: $gray-900;
  }

  &.elephpant-blue {
    background-color: $blue-light;
  }

  &.elephpant-brown {
    background-color: $brown;
  }

  &.elephpant-cream {
    background-color: $cream;
  }

  &.elephpant-denim {
    background-color: $denim;
  }

  &.elephpant-gold {
    background-color: $gold;
  }

  &.elephpant-gray {
    background-color: $gray-600;
  }

  &.elephpant-gray.elephpant-roave {
    background-color: $gray-500;
  }

  &.elephpant-green {
    background-color: $green;
  }

  &.elephpant-multicolored.elephpant-phpdiversity {
    background: linear-gradient(to right, $purple, $indigo, $blue, $cyan, $green, $yellow, $orange, $red);
  }

  &.elephpant-multicolored.elephpant-haphpy {
    background: linear-gradient(to bottom, $red, $red, $gold, $red, $red, $gold, $red, $red, $gold, $red, $red);
  }

  &.elephpant-orange {
    background-color: $orange;
  }

  &.elephpant-pink {
    background-color: $pink-light;
  }

  &.elephpant-purple {
    background-color: $purple;
  }

  &.elephpant-red {
    background-color: $red;
  }

  &.elephpant-teal {
    background-color: $cyan;
  }

  &.elephpant-turquoise {
    background-color: $turquoise;
  }

  &.elephpant-yellow {
    background-color: $yellow-light;
  }

  &.elephpant-white {
    background-color: $gray-100;
    > svg {
      fill: $gray-900;
    }
  }

}

//
// Title
//

.elephpant-title {
  @include heading-font;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

//
// Controls
//

.elephpant-controls {
  display: inline-block;
  line-height: 1.5;
  margin: 0 0 .5rem;

  &:last-child {
    margin-bottom: 0;
  }

  .elephpant-amount {
    background-color: $gray-400;
    position: relative;
    top: -.1rem;
    min-width: 1.5rem;
  }
}
