header {
  background-image: url('../../bundles/elewantapp/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: $white;
  min-height: 100vh;

  .intro-text {
    line-height: 1;
    padding-top: 6rem;

    .intro-lead-in {
      @include serif-font;
      font-style: italic;
      font-size: 1.25rem;
      margin-bottom: 3rem;
    }

    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 1.875rem;
      margin-bottom: 3rem;
    }
  }
}

@include media-breakpoint-up(md) {
  header {
    .intro-text {
      padding-top: 15rem;

      .intro-lead-in {
        font-size: 2.5rem;
      }

      .intro-heading {
        font-size: 4.5rem;
      }
    }
  }
}
