<div class="mx-auto elephpant-controls">
    <i class="fa fa-minus-square-o abandon" data-breed="{{ breed }}"></i>
    <span class="badge badge-pill badge-light count-{{ breed }}">{{ count|default(0) }}</span>
    <i class="fa fa-plus-square-o adopt" data-breed="{{ breed }}"></i>
</div>
