prooph_service_bus:
    command_buses:
        herding_command_bus:
            router:
              type: 'prooph_service_bus.command_bus_router'
    event_buses:
        herding_event_bus:
            plugins:
                - 'prooph_service_bus.on_event_invoke_strategy'
            router:
                type: 'prooph_service_bus.event_bus_router'
                routes: []

services:
    _defaults:
        public: false

    Prooph\ServiceBus\CommandBus: '@prooph_service_bus.herding_command_bus'
    Prooph\ServiceBus\EventBus: '@prooph_service_bus.herding_event_bus'
