/.env.local
/.vagrant/
/.web-server-pid
/ansible/provision/group_vars/develop/override_locally.yml
/node_modules/
/public/build/
/public/bundles/
/vendor/

/.idea/*
!.idea/codeStyleSettings.xml
!.idea/file.template.settings.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/

/var/*
!var/.gitkeep

/frontend
