/.idea/*
!.idea/codeStyleSettings.xml
!.idea/file.template.settings.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/
/.vagrant/
/ansible/galaxy_roles/
/ansible/provision/group_vars/develop/override_locally.yml
/app/config/parameters.yml
/build/
/node_modules/
/phpunit.xml
/var/**
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/build/
/web/bundles/
tests/_output/**
!tests/_output/.gitkeep
humbug.json
