parameters:
  excludes_analyse:
    - %rootDir%/../../../src/Elewant/DevelopmentBundle/Controller/DevelopmentController.php
  ignoreErrors:
    - '#Parameter \#1 \$user of method Elewant\\UserBundle\\Security\\UserProvider\:\:connectTwitter\(\) expects Elewant\\UserBundle\\Entity\\User, Symfony\\Component\\Security\\Core\\User\\UserInterface given\.#'
    - '#Parameter \#1 \$user of class Elewant\\UserBundle\\Event\\UserHasRegistered constructor expects Elewant\\UserBundle\\Entity\\User, Symfony\\Component\\Security\\Core\\User\\UserInterface given\.#'
    - '#Parameter \#1 $user of method Elewant\\AppBundle\\Controller\\ShepherdController\:\:getHerd\(\) expects Elewant\\UserBundle\\Entity\\User, Elewant\\UserBundle\\Entity\\User|Symfony\\Component\\Security\\Core\\User\\UserInterface given\.#'
    - '#Method Elewant\\Herding\\Infrastructure\\EventStoreHerdCollection::get() should return Elewant\\Herding\\Model\\Herd|null but returns object|null\.#'
    - '#Cannot call method (fetch|fetchAll)\(\) on Doctrine\\DBAL\\Driver\\Statement|int\.#'
    - '#PHPDoc tag \@param for parameter \$user with type Symfony\\Component\\Security\\Core\\User\\UserInterface is not subtype of native type Elewant\\UserBundle\\Entity\\User#'
    - '#Parameter \#1 $json of function json_decode expects string, resource|string given.#'
    - '#Parameter \#2 $input1 of function array_map expects array, array<int, string>|false given.#'
