parameters:
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  excludes_analyse:
    - %rootDir%/../../../src/Bundles/DevelopmentBundle/Controller/DevelopmentController.php
  ignoreErrors:
    - '#PHPDoc tag \@throws with type Http\\Client\\Exception is not subtype of Throwable#'
