parameters:
  excludes_analyse:
    - %rootDir%/../../../src/Elewant/DevelopmentBundle/Controller/DevelopmentController.php
  ignoreErrors:
    - '#Parameter \#1 \$user of class Bundles\\UserBundle\\Event\\UserHasRegistered constructor expects Bundles\\UserBundle\\Entity\\User, Symfony\\Component\\Security\\Core\\User\\UserInterface given\.#'
    - '#Parameter \#1 \$user of method Bundles\\UserBundle\\Security\\UserProvider\:\:connectTwitter\(\) expects Bundles\\UserBundle\\Entity\\User, Symfony\\Component\\Security\\Core\\User\\UserInterface given\.#'
    - '#PHPDoc tag \@throws with type Http\\Client\\Exception is not subtype of Throwable#'
