parameters:

    database_host:        ~
    database_port:        ~
    database_unix_socket: /var/run/mysqld/mysqld.sock
    database_name:        "elewant"
    database_user:        "elewant"
    database_password:    "elewant"

    mailer_transport:        "smtp"
    mailer_host:             "127.0.0.1"
    mailer_user:             ~
    mailer_password:         ~
    mailer_delivery_address: ~

    secret: "ThisTokenIsNotSoSecretChangeIt"

    twitter_client_id:     "id"
    twitter_client_secret: "secret"
