server {
    listen       443 ssl;
    server_name  {{ elewant_server_name }};
    root         {{ elewant_application_root }}/web;

    access_log  /var/log/nginx/elewant.access.log  main;
    error_log   /var/log/nginx/elewant.error.log   warn;

    ssl                  on;
    ssl_certificate      {{ elewant_ssl_chain }};
    ssl_certificate_key  {{ elewant_ssl_key }};

    location / {
        try_files $uri /app.php$is_args$args;
    }

    location /app.php {
        fastcgi_pass   unix:{{ elewant_php_socket }};
        fastcgi_index  app.php;
        include        fastcgi_params;
        fastcgi_param  APPLICATION_ENV  {{ elewant_application_env }};
    }
}

server {
    listen       80;
    server_name  {{ elewant_server_name }};
    return       301 https://$host$request_uri;
}
