{% extends 'ElewantAppBundle::Layout/base.html.twig' %}

{% block content %}
    <section type="error" class="text-center">
        <div class="alert alert-danger" role="alert">
            <ul class="list-unstyled">
                <li>{{ message|default('error.' ~ code)|trans }}</li>
            </ul>
        </div>
    </section>
{% endblock %}
