---

# safe to leave as is:

mysql_root_password: not_so_secret_db_root_password

mysql_passwords:
  elewant_develop: not_so_secret_db_password

elewant_secret: not_so_secret_symfony_secret

# replace these with real values:

elewant_delivery_address: replace_with_your_email_address

elewant_twitter_client: replace_with_actual_twitter_client_key
elewant_twitter_secret: replace_with_actual_twitter_client_secret
