[global]

pid = {{ php7_fpm_pid }}

error_log = {{ php7_fpm_error_log }}
log_level = {{ php7_fpm_log_level }}

{% if php7_fpm_syslog_facility is not none %}
syslog.facility = {{ php7_fpm_syslog_facility }}
{% endif %}
{% if php7_fpm_syslog_ident is not none %}
syslog.ident = {{ php7_fpm_syslog_ident }}
{% endif %}

emergency_restart_threshold = {{ php7_fpm_emergency_restart_threshold }}
emergency_restart_interval = {{ php7_fpm_emergency_restart_interval }}

process_control_timeout = {{ php7_fpm_process_control_timeout }}

{% if php7_fpm_process_max is not none %}
process.max = {{ php7_fpm_process_max }}
{% endif %}
{% if php7_fpm_process_priority is not none %}
process.priority = {{ php7_fpm_process_priority }}
{% endif %}

{% if php7_fpm_daemonize %}
daemonize = yes
{% else %}
daemonize = no
{% endif %}

{% if php7_fpm_rlimit_files is not none %}
rlimit_files = {{ php7_fpm_rlimit_files }}
{% endif %}
{% if php7_fpm_rlimit_core is not none %}
rlimit_core = {{ php7_fpm_rlimit_core }}
{% endif %}

{% if php7_fpm_events_mechanism is not none %}
events.mechanism = {{ php7_fpm_events_mechanism }}
{% endif %}

systemd_interval = {{ php7_fpm_systemd_interval }}

include=/etc/php/{{ php7_version }}/fpm/pool.d/*.conf
