{% for key, value in php7_ini_directives.items() %}
{% if value is sameas True %}
{{ key }} = On
{% elif value is sameas False %}
{{ key }} = Off
{% elif value is number %}
{{ key }} = {{ value }}
{% else %}
{{ key }} = "{{ value }}"
{% endif %}
{% endfor %}
