{% if locale_env.lang %}
LANG="{{ locale_env.lang }}"
{% endif %}
{% if locale_env.language %}
LANGUAGE="{{ locale_env.language }}"
{% endif %}
{% if locale_env.lc_all %}
LC_ALL="{{ locale_env.lc_all }}"
{% endif %}
{% if locale_env.lc_address %}
LC_ADDRESS="{{ locale_env.lc_address }}"
{% endif %}
{% if locale_env.lc_collate %}
LC_COLLATE="{{ locale_env.lc_collate }}"
{% endif %}
{% if locale_env.lc_ctype %}
LC_CTYPE="{{ locale_env.lc_ctype }}"
{% endif %}
{% if locale_env.lc_identification %}
LC_IDENTIFICATION="{{ locale_env.lc_identification }}"
{% endif %}
{% if locale_env.lc_measurement %}
LC_MEASUREMENT="{{ locale_env.lc_measurement }}"
{% endif %}
{% if locale_env.lc_messages %}
LC_MESSAGES="{{ locale_env.lc_messages }}"
{% endif %}
{% if locale_env.lc_monetary %}
LC_MONETARY="{{ locale_env.lc_monetary }}"
{% endif %}
{% if locale_env.lc_name %}
LC_NAME="{{ locale_env.lc_name }}"
{% endif %}
{% if locale_env.lc_numeric %}
LC_NUMERIC="{{ locale_env.lc_numeric }}"
{% endif %}
{% if locale_env.lc_paper %}
LC_PAPER="{{ locale_env.lc_paper }}"
{% endif %}
{% if locale_env.lc_telephone %}
LC_TELEPHONE="{{ locale_env.lc_telephone }}"
{% endif %}
{% if locale_env.lc_time %}
LC_TIME="{{ locale_env.lc_time }}"
{% endif %}
{% if locale_env.locpath %}
LOCPATH="{{ locale_env.locpath }}"
{% endif %}
