server {
    server_name {{ elewant_server_name }};
    set $application_env {{ elewant_application_env }};

    listen      80;
    root        {{ elewant_web_root }};

    access_log  {{ elewant_access_log }};
    error_log   {{ elewant_error_log }};

    location / {
        try_files $uri /{{ elewant_fastcgi_index }}?$args;
    }

    location ~ \.php$ {
        fastcgi_pass     unix:/var/run/php5-fpm.sock;
        fastcgi_read_timeout 240;
        fastcgi_index    {{ elewant_fastcgi_index }};
        fastcgi_param    APPLICATION_ENV    $application_env;
        fastcgi_param    SCRIPT_FILENAME    $document_root$fastcgi_script_name;
        include          fastcgi_params;
    }

}
