parameters:
    database_driver:   pdo_mysql
    database_host:     {{ elewant_db_host }}
    database_port:     ~
    database_socket:   {{ mariadb_socket }}
    database_name:     {{ elewant_db_name }}
    database_user:     {{ elewant_db_user }}
    database_password: {{ elewant_db_password }}

    mailer_transport:  {{ elewant_mailer_transport }}
    mailer_host:       {{ elewant_mailer_host }}
    mailer_port:       {{ elewant_mailer_port }}
    mailer_user:       {{ elewant_mailer_user }}
    mailer_password:   {{ elewant_mailer_password }}
    mailer_delivery_address: {{ elewant_mailer_delivery_address }}

    locale:            en
    secret:            {{ elewant_symfony_secret }}
