//
// Theme (based on Start Bootstrap - Agency)
//

$theme-primary: $yellow;
$theme-danger: $red;

$gray-base: $black;
$gray-darker: $gray-900;
$gray-dark: $gray-800;
$gray: $gray-700;
$gray-light: $gray-600;
$gray-lighter: $gray-300;

//
// Colors
//

$blue-light: #4886b6;
$pink-light: #f669c7;
$yellow-light: #ffd65b;
$denim: #4d5f8a;
$gold: #e8b008;
$brown: #914e00;
