//
// Theme (based on Start Bootstrap - Agency)
//

$theme-primary: $yellow;
$theme-danger: $red;

$gray-base: $black;
$gray-darker: $gray-900;
$gray-dark: $gray-800;
$gray: $gray-700;
$gray-light: $gray-600;
$gray-lighter: $gray-300;

//
// Colors
//
$blue-vlight: #66d9ff;
$blue-light: #4886b6;
$blue-dark: #2d3d8b;
$zf-green: #68B604;
$pink-light: #f669c7;
$yellow-light: #ffd65b;
$purple-light: #c073c5;
$denim: #4d5f8a;
$cream: #faebd7;
$gold: #e8b008;
$brown: #914e00;
$turquoise: #3decfa;

//
// Sizes
//

$section-spacing: 3rem;
