//
// Theme (based on Start Bootstrap - Agency)
//

$theme-primary: $yellow;
$theme-danger: $red;

$gray-base: $black;
$gray-darker: $gray-900;
$gray-dark: $gray-800;
$gray: $gray-700;
$gray-light: $gray-600;
$gray-lighter: $gray-300;

//
// Colors
//

$brown: #654400;
