// VARIABLES
// ---------

// Gray and Brand Colors for use across theme

$theme-primary: #fed136 !default;
$theme-danger: #e74c3c !default;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

// MIXINS
// ------

// Bootstrap Button Variant

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Font Mixins

@mixin serif-font {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin script-font {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

@mixin body-font {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin heading-font {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

// STYLES
// ------

// Body

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  @include body-font;
}

.body-shrink-always {
  // Sticky navbar
  padding-top: 3.5rem;

  // Semi-sticky footer ($section-spacing extra breathing-room)
  margin-bottom: 11.5rem + $section-spacing;
  @include media-breakpoint-up(md) {
    margin-bottom: 5.5rem + $section-spacing;
  }
}

// Text

.text-primary {
  color: $theme-primary !important;
}

p {
  line-height: 1.75;
}

// Links

a {
  color: $theme-primary;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: darken($theme-primary, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  @include heading-font;
  font-weight: 700;
  margin-bottom: 1rem;
}

// Thumbnail images

.img-thumbnail {
  &.float-left {
    margin: 0 $paragraph-margin-bottom $paragraph-margin-bottom 0;
  }
  &.img-thumbnail.float-right {
    margin: 0 0 $paragraph-margin-bottom $paragraph-margin-bottom;
  }
  &.img-half-ish {
    width: 55%;
    @include media-breakpoint-up(sm) {
      width: 50%;
    }
    @include media-breakpoint-up(md) {
      width: 45%;
    }
    @include media-breakpoint-up(lg) {
      width: 40%;
    }
    @include media-breakpoint-up(xl) {
      width: 35%;
    }
  }
}

// Restyled Primary Buttons

.btn-primary {
  @include button-variant($white, $theme-primary, $theme-primary);
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  @include button-variant($white, $theme-primary, $theme-primary);
  @include heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: $theme-primary;
}

::selection {
  text-shadow: none;
  background: $theme-primary;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}
