{% set contributors = contributors() %}
<section id="contributors" class="index-section bg-faded">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Contributors</h2>
            </div>
        </div>

        <div class="row justify-content-md-center">
            {% for contributor in contributors|shuffle|slice(0,3) %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ contributor.avatarUrl }}" class="mx-auto rounded-circle" alt="">
                        <h4>{{ contributor.name }}</h4>
                        <p class="text-muted">({{ contributor.contributionCount }} contributions)</p>
                    </div>
                </div>
           {% else %}
            <div class="col-sm-4 text-center">
                <div class="team-member">
                    Contributors could not be loaded
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-10 text-center">
                <p class="large text-muted">You can find the repository on
                    <a href="https://github.com/f500/elewant">github</a>, and become one of the awesome contributors in no time at all!<br /><br />
                </p>
            </div>
        </div>
    </div>
</section>
