{% import 'ElewantAppBundle:Macros:utils.html.twig' as utils %}

<header>
    <div class="container">

        <div class="intro-text">
            <div class="intro-lead-in">Welcome shepherds around the world!</div>
            <div class="intro-heading">It's nice to meet you</div>

            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('hwi_oauth_twitter_login') }}" class="page-scroll btn btn-xl">
                    {{ utils.icon('twitter') }} Join the herd
                </a>
            {% else %}
                <a href="{{ path('herd_tending') }}" class="page-scroll btn btn-xl">
                    {{ utils.icon('edit') }} Manage your herd
                </a>
            {% endif %}
        </div>

    </div>
</header>
