server {
    listen      80;
    server_name {{ item.domains | join(' ') }};

    root  {{ item.web_root }};
    index {{ item.index }};

    access_log /home/logs/{{ item.domains | first }}-access.log;
    error_log  /home/logs/{{ item.domains | first }}-error.log;

    location / {
        try_files $uri /{{ item.index }}$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_pass  unix:/var/run/php/php{{ php7_version }}-fpm.sock;
        fastcgi_index {{ item.index }};
        include       fastcgi_params;
    }
}
