server {
    listen      80;
    server_name {{ item.domains | join(' ') }};

    access_log off;

    return 301 https://{{ item.domains | first }}$request_uri;
}

server {
    listen      443 ssl;
    server_name {{ item.domains | join(' ') }};

    root  {{ item.web_root }};
    index {{ item.index }};

    access_log /home/logs/{{ item.domains | first }}-access.log;
    error_log  /home/logs/{{ item.domains | first }}-error.log;

    ssl                     on;
    ssl_certificate_key     /etc/letsencrypt/live/{{ item.domains | first }}/privkey.pem;
    ssl_certificate         /etc/letsencrypt/live/{{ item.domains | first }}/fullchain.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ item.domains | first }}/chain.pem;

    {% for key, value in (nginx_http_headers_default | combine(nginx_http_headers) | combine(item.headers)).iteritems() %}
    add_header {{ key }} "{{ value }}" always;
    {% endfor %}

    location / {
        try_files $uri /{{ item.index }}$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_pass  unix:/var/run/php/php{{ php7_version }}-fpm.sock;
        fastcgi_index {{ item.index }};
        include       fastcgi_params;
    }

    location /.well-known/acme-challenge/ {
        root {{ nginx_www_dir }};
        log_not_found off;
        try_files $uri =404;
    }
}
